body {
    margin: 0px;
}

#img-quote {
    width: 100%;
}
#img {
    opacity: 60%;
}
#name {
    font-family: cursive;
    text-align: center;
    position: absolute;
    color: black;
    font-weight: bolder;;
}
#quote {
    font-family: serif;
    text-align: center;
    position: absolute;
    color: black;
    font-weight: bolder;
    font-style: bold;
}
#icon {
    position: absolute;
}